body {
    background: url(../img/capa.png),
                url(../img/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
}

.navbar-style {
    background: rgba(0, 0, 0, 0.5);
    padding-left: 15px 0px;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0);
}

.divisor { 
    width: 2px;
    margin: 12px 15px;
    background: #fff;
}